In [ ]:

import pandas as pd

anos_sim = [2012] # mudar o ano de acordo com o desejado

def dadosSim(anos_sim):
    base_url = 'https://diaad.s3.sa-east-1.amazonaws.com/sim/Mortalidade_Geral_'
    sim = []

    for i in anos_sim:
        i = str(i)
        url = base_url + i + '.csv'

        if i == '2019':
            dados_sim = pd.read_csv(url, encoding="ISO-8859-1", sep=";")
        else:
            dados_sim = pd.read_csv(url, encoding="ISO-8859-1", sep=";", header=0)
        dados_sim['IDADE'].notna()# limpa os dados do dataframe onde não existe informação de idade
        dados_sim= dados_sim.dropna(subset= ['DTNASC'])

        dados_sim['IDADE'] = dados_sim['IDADE'].astype(str)  # Converte para tipo string se necessário

        dados_sim['UNID_IDADE'] = dados_sim['IDADE'].str[0] # retira apenas o digito inicial que indica a unidade de grandeza do tempo de vida (anos, meses, dias e horas)

        dados_sim['idade_tratada'] = dados_sim['IDADE'].str[1:] # extrai os demais digitos que informam o tempo de vida

        #filtrando apenas as crianças de até um ano de idade
        # unidades: 1 = minuto , 2 = hora, 3 = mês, 4= ano, 5= maior que 100 anos


        filtro_unidade_idade = dados_sim[dados_sim['UNID_IDADE'].isin([ '2', '1','3'])]
        filtro_idade = dados_sim[dados_sim['IDADE'] == 401.0]

        filtro_final_idade = pd.concat([filtro_idade, filtro_unidade_idade,])






        sim.append(filtro_final_idade)

    consolidado = pd.concat(sim)
    consolidado.to_csv("Consolidado_SIM.csv", index=False)

    return consolidado

In [ ]:
SIM = dadosSim(anos_sim)

<ipython-input-1-b24e4fcac40d>:14: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_sim = pd.read_csv(url, encoding="ISO-8859-1", sep=";")

In [ ]:
print(SIM)

         ORIGEM  TIPOBITO   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU  \
24            1         2  15022019      145.0    835.0    352010.0
58            1         2   1022019       45.0      NaN         NaN
59            1         2   5022019     1115.0    823.0    230730.0
86            1         2  13022019     1353.0    833.0    330455.0
109           1         2   4022019      650.0    822.0    220770.0
...         ...       ...       ...        ...      ...         ...
1349785       1         2   9072019        NaN    813.0    130230.0
1349786       1         2  23072019     1630.0    815.0    150375.0
1349787       1         2  27032019     1635.0    813.0    130390.0
1349791       1         2  11072019        NaN    813.0    130140.0
1349795       1         2   3082019     1800.0    813.0    130406.0

             DTNASC IDADE  SEXO  RACACOR  ...  TPNIVELINV  NUDIASINF  \
24       15032018.0   311     2      1.0  ...         NaN        NaN
58       31012019.0   201     1      4.0  ...         NaN        NaN
59        5022019.0   101     2      4.0  ...         NaN        NaN
86       12022019.0   120     1      4.0  ...         NaN        NaN
109      30082018.0   305     1      4.0  ...         NaN        NaN
...             ...   ...   ...      ...  ...         ...        ...
1349785   7072019.0   202     1      5.0  ...         NaN        NaN
1349786  23072019.0   110     2      5.0  ...         NaN        NaN
1349787  15082018.0   307     2      5.0  ...         NaN        NaN
1349791   6072019.0   205     1      5.0  ...         NaN        NaN
1349795   2082019.0   201     1      5.0  ...         NaN        NaN

           DTCADINF  MORTEPARTO   DTCONCASO  FONTESINF  ALTCAUSA  CONTADOR  \
24       22032019.0         3.0  22032019.0        NaN       2.0        26
58       13032019.0         3.0  13032019.0        NaN       2.0        62
59       13032019.0         3.0  13032019.0        NaN       2.0        63
86       27052019.0         3.0  27052019.0        NaN       1.0        90
109      13032019.0         3.0   7022019.0        NaN       2.0       114
...             ...         ...         ...        ...       ...       ...
1349785   6082020.0         3.0   6082020.0        NaN       2.0   1378891
1349786   9032020.0         3.0  28022020.0        NaN       1.0   1378892
1349787  26082019.0         9.0  29072019.0        NaN       2.0   1378893
1349791         NaN         NaN         NaN        NaN       NaN   1378897
1349795  23102019.0         3.0  16082019.0        NaN       1.0   1378901

         UNID_IDADE  idade_tratada
24                3             11
58                2             01
59                1             01
86                1             20
109               3             05
...             ...            ...
1349785           2             02
1349786           1             10
1349787           3             07
1349791           2             05
1349795           2             01

[34075 rows x 89 columns]

In [ ]:
# SINASC


anos_sinasc = [2019,2018]
def dadosSinasc(anos_sinasc):
 base_url = 'https://diaad.s3.sa-east-1.amazonaws.com/sinasc/SINASC_'
 sinasc = []
 for j in anos_sinasc:
  j= str(j)

  url= base_url+j+'.csv'

  if j=='1996':
    dados_sinasc = pd.read_csv(url, encoding="ISO-8859-1", sep=";")
  else:
    dados_sinasc = pd.read_csv(url, encoding="ISO-8859-1", sep=";", header=0)

  sinasc30s =dados_sinasc[dados_sinasc['GESTACAO']<=3]

  sinasc.append(sinasc30s)

 consolidado = pd.concat(sinasc)
 consolidado.to_csv("Consolidado_SINASC.csv", index=False)

 return consolidado

In [ ]:
SINASC = dadosSinasc(anos_sinasc)
print(SINASC)

<ipython-input-4-7a62439c343b>:16: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_sinasc = pd.read_csv(url, encoding="ISO-8859-1", sep=";", header=0)
<ipython-input-4-7a62439c343b>:16: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_sinasc = pd.read_csv(url, encoding="ISO-8859-1", sep=";", header=0)

         ORIGEM   CODESTAB  CODMUNNASC  LOCNASC  IDADEMAE  ESTCIVMAE  ESCMAE  \
71            1  2001020.0      120005        2      19.0        1.0     4.0
163           1  2001500.0      120010        1      42.0        5.0     NaN
254           1  2001500.0      120010        1      19.0        5.0     4.0
295           1  2001500.0      120010        1      23.0        5.0     4.0
460           1  2001500.0      120010        1      28.0        2.0     5.0
...         ...        ...         ...      ...       ...        ...     ...
2944607       1  2452383.0      210530        1      24.0        1.0     4.0
2944649       1  2452383.0      210530        1      27.0        1.0     4.0
2944706       1  2452383.0      210530        1      19.0        1.0     4.0
2944742       1  2452383.0      210530        1      18.0        1.0     4.0
2944743       1  2452383.0      210530        1      18.0        1.0     4.0

         CODOCUPMAE  QTDFILVIVO  QTDFILMORT  ...  TPDOCRESP  DTDECLARAC  \
71         999991.0         1.0         0.0  ...        NaN         NaN
163        999992.0         4.0         0.0  ...        3.0   4022019.0
254        612005.0         1.0         1.0  ...        3.0  12032019.0
295             NaN         NaN         NaN  ...        3.0  23032019.0
460        223115.0         NaN         NaN  ...        3.0  22052019.0
...             ...         ...         ...  ...        ...         ...
2944607    622105.0         1.0         0.0  ...        5.0  11092018.0
2944649    999992.0         1.0         0.0  ...        5.0  11102018.0
2944706    999992.0         0.0         0.0  ...        5.0  20112018.0
2944742    999992.0         1.0         0.0  ...        5.0  15122018.0
2944743    999992.0         1.0         0.0  ...        5.0  15122018.0

         ESCMAEAGR1  STDNEPIDEM  STDNNOVA  CODPAISRES  TPROBSON  PARIDADE  \
71              NaN         0.0         1         1.0        11         1
163             NaN         0.0         1         1.0        10         1
254            12.0         0.0         1         1.0        10         1
295            12.0         0.0         1         1.0        10         0
460             8.0         0.0         1         1.0        10         0
...             ...         ...       ...         ...       ...       ...
2944607         6.0         0.0         1         1.0        10         1
2944649         6.0         0.0         1         1.0        10         1
2944706         5.0         0.0         1         1.0        10         0
2944742         4.0         0.0         1         1.0        10         1
2944743         4.0         0.0         1         1.0         8         1

         KOTELCHUCK  CONTADOR
71                9     13820
163               4     13912
254               1     14003
295               3     14045
460               4     14210
...             ...       ...
2944607           2   1707090
2944649           4   1707833
2944706           3   1708614
2944742           3   1709184
2944743           3   1709185

[90491 rows x 61 columns]

In [ ]:
# compara as colunas em comum nas duas bases
colunas_comuns = SIM.columns.intersection(SINASC.columns)
#mostra os resultados da comparação
print(colunas_comuns)

Index(['ORIGEM', 'CODMUNNATU', 'DTNASC', 'SEXO', 'RACACOR', 'CODMUNRES',
       'CODESTAB', 'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE',
       'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC', 'GESTACAO',
       'PARTO', 'PESO', 'NUMEROLOTE', 'DTCADASTRO', 'VERSAOSIST', 'DTRECEBIM',
       'DTRECORIGA', 'ESCMAEAGR1', 'DIFDATA', 'CONTADOR'],
      dtype='object')

In [ ]:
#deletando os campos nulos
SIM= SIM.dropna(subset=['CODMUNNATU','DTNASC','SEXO','RACACOR','GRAVIDEZ','SEMAGESTAC','GESTACAO','PARTO','PESO'])
print(SIM.head())

SINASC= SINASC.dropna(subset=['CODMUNNASC','DTNASC','SEXO','RACACOR','GRAVIDEZ','SEMAGESTAC','GESTACAO','PARTO','PESO'])
print(SINASC.head())

     ORIGEM  TIPOBITO   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU      DTNASC  \
24        1         2  15022019      145.0    835.0    352010.0  15032018.0
59        1         2   5022019     1115.0    823.0    230730.0   5022019.0
86        1         2  13022019     1353.0    833.0    330455.0  12022019.0
109       1         2   4022019      650.0    822.0    220770.0  30082018.0
255       1         2   1012019     2100.0    812.0    120040.0  11062018.0

    IDADE  SEXO  RACACOR  ...  TPNIVELINV  NUDIASINF    DTCADINF  MORTEPARTO  \
24    311     2      1.0  ...         NaN        NaN  22032019.0         3.0
59    101     2      4.0  ...         NaN        NaN  13032019.0         3.0
86    120     1      4.0  ...         NaN        NaN  27052019.0         3.0
109   305     1      4.0  ...         NaN        NaN  13032019.0         3.0
255   306     1      4.0  ...         NaN        NaN  15072019.0         3.0

      DTCONCASO  FONTESINF  ALTCAUSA  CONTADOR  UNID_IDADE  idade_tratada
24   22032019.0        NaN       2.0        26           3             11
59   13032019.0        NaN       2.0        63           1             01
86   27052019.0        NaN       1.0        90           1             20
109   7022019.0        NaN       2.0       114           3             05
255  16052019.0        NaN       2.0       260           3             06

[5 rows x 89 columns]
     ORIGEM   CODESTAB  CODMUNNASC  LOCNASC  IDADEMAE  ESTCIVMAE  ESCMAE  \
71        1  2001020.0      120005        2      19.0        1.0     4.0
163       1  2001500.0      120010        1      42.0        5.0     NaN
254       1  2001500.0      120010        1      19.0        5.0     4.0
295       1  2001500.0      120010        1      23.0        5.0     4.0
460       1  2001500.0      120010        1      28.0        2.0     5.0

     CODOCUPMAE  QTDFILVIVO  QTDFILMORT  ...  TPDOCRESP  DTDECLARAC  \
71     999991.0         1.0         0.0  ...        NaN         NaN
163    999992.0         4.0         0.0  ...        3.0   4022019.0
254    612005.0         1.0         1.0  ...        3.0  12032019.0
295         NaN         NaN         NaN  ...        3.0  23032019.0
460    223115.0         NaN         NaN  ...        3.0  22052019.0

     ESCMAEAGR1  STDNEPIDEM  STDNNOVA  CODPAISRES  TPROBSON  PARIDADE  \
71          NaN         0.0         1         1.0        11         1
163         NaN         0.0         1         1.0        10         1
254        12.0         0.0         1         1.0        10         1
295        12.0         0.0         1         1.0        10         0
460         8.0         0.0         1         1.0        10         0

     KOTELCHUCK  CONTADOR
71            9     13820
163           4     13912
254           1     14003
295           3     14045
460           4     14210

[5 rows x 61 columns]

In [ ]:
SIM['DTNASC'] = SIM['DTNASC'].astype(int)
SIM['CODMUNNATU'] = SIM['CODMUNNATU'].astype(int)
SIM['RACACOR'] = SIM['RACACOR'].astype(int)
SIM['GRAVIDEZ'] = SIM['GRAVIDEZ'].astype(int)
SIM['GESTACAO'] = SIM['GESTACAO'].astype(int)
SIM['SEMAGESTAC'] = SIM['SEMAGESTAC'].astype(int)
SIM['PARTO'] = SIM['PARTO'].astype(int)
SINASC['CODMUNNASC'] = SINASC['CODMUNNASC'].astype(int)
SINASC['RACACOR'] = SINASC['RACACOR'].astype(int)
SINASC['GRAVIDEZ'] = SINASC['GRAVIDEZ'].astype(int)
SINASC['GESTACAO'] = SINASC['GESTACAO'].astype(int)
SINASC['SEMAGESTAC'] = SINASC['SEMAGESTAC'].astype(int)
SINASC['PARTO'] = SINASC['PARTO'].astype(int)
SIM['PESO']=SIM['PESO'].astype(int)
SINASC['PESO'] = SINASC['PESO'].astype(int)

<ipython-input-8-b4d328881f6a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['CODMUNNASC'] = SINASC['CODMUNNASC'].astype(int)
<ipython-input-8-b4d328881f6a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['RACACOR'] = SINASC['RACACOR'].astype(int)
<ipython-input-8-b4d328881f6a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['GRAVIDEZ'] = SINASC['GRAVIDEZ'].astype(int)
<ipython-input-8-b4d328881f6a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['GESTACAO'] = SINASC['GESTACAO'].astype(int)
<ipython-input-8-b4d328881f6a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['SEMAGESTAC'] = SINASC['SEMAGESTAC'].astype(int)
<ipython-input-8-b4d328881f6a>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['PARTO'] = SINASC['PARTO'].astype(int)
<ipython-input-8-b4d328881f6a>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SINASC['PESO'] = SINASC['PESO'].astype(int)

In [ ]:
chavesim = ['CODMUNNATU','DTNASC','SEXO','RACACOR','GRAVIDEZ','SEMAGESTAC','GESTACAO','PARTO','PESO']
tiposSim = SIM[chavesim].dtypes
print(tiposSim)

chavesinasc = ['CODMUNNASC','DTNASC','SEXO','RACACOR','GRAVIDEZ','SEMAGESTAC','GESTACAO','PARTO','PESO']
tiposSinasc = SINASC[chavesinasc].dtypes
print(tiposSinasc)

CODMUNNATU    int64
DTNASC        int64
SEXO          int64
RACACOR       int64
GRAVIDEZ      int64
SEMAGESTAC    int64
GESTACAO      int64
PARTO         int64
PESO          int64
dtype: object
CODMUNNASC    int64
DTNASC        int64
SEXO          int64
RACACOR       int64
GRAVIDEZ      int64
SEMAGESTAC    int64
GESTACAO      int64
PARTO         int64
PESO          int64
dtype: object

In [ ]:
# criando as chaves

SIM['Chave'] = SIM.apply(lambda row: row['CODMUNNATU']+ row['DTNASC'] + row['SEXO']+ row['RACACOR'] +row['GRAVIDEZ'] + row['SEMAGESTAC'] + row['GESTACAO']+row['PARTO'] +row['PESO']+ row['IDADEMAE'], axis =1)
SIM = SIM.dropna(subset = ['Chave'])

print(SIM)

         ORIGEM  TIPOBITO   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU    DTNASC  \
24            1         2  15022019      145.0    835.0      352010  15032018
59            1         2   5022019     1115.0    823.0      230730   5022019
86            1         2  13022019     1353.0    833.0      330455  12022019
109           1         2   4022019      650.0    822.0      220770  30082018
255           1         2   1012019     2100.0    812.0      120040  11062018
...         ...       ...       ...        ...      ...         ...       ...
1349772       1         2  11092019     1000.0    813.0      130140  11092019
1349779       1         2  30072019        NaN    813.0      130370  27102018
1349785       1         2   9072019        NaN    813.0      130230   7072019
1349786       1         2  23072019     1630.0    815.0      150375  23072019
1349791       1         2  11072019        NaN    813.0      130140   6072019

        IDADE  SEXO  RACACOR  ...  NUDIASINF    DTCADINF  MORTEPARTO  \
24        311     2        1  ...        NaN  22032019.0         3.0
59        101     2        4  ...        NaN  13032019.0         3.0
86        120     1        4  ...        NaN  27052019.0         3.0
109       305     1        4  ...        NaN  13032019.0         3.0
255       306     1        4  ...        NaN  15072019.0         3.0
...       ...   ...      ...  ...        ...         ...         ...
1349772   100     2        5  ...        NaN         NaN         NaN
1349779   309     2        5  ...        NaN  24122019.0         9.0
1349785   202     1        5  ...        NaN   6082020.0         3.0
1349786   110     2        5  ...        NaN   9032020.0         3.0
1349791   205     1        5  ...        NaN         NaN         NaN

          DTCONCASO  FONTESINF  ALTCAUSA  CONTADOR  UNID_IDADE  idade_tratada  \
24       22032019.0        NaN       2.0        26           3             11
59       13032019.0        NaN       2.0        63           1             01
86       27052019.0        NaN       1.0        90           1             20
109       7022019.0        NaN       2.0       114           3             05
255      16052019.0        NaN       2.0       260           3             06
...             ...        ...       ...       ...         ...            ...
1349772         NaN        NaN       NaN   1378877           1             00
1349779   2082019.0        NaN       2.0   1378884           3             09
1349785   6082020.0        NaN       2.0   1378891           2             02
1349786  28022020.0        NaN       1.0   1378892           1             10
1349791         NaN        NaN       NaN   1378897           2             05

              Chave
24       15387459.0
59        5253791.0
86       12355055.0
109      30306201.0
255      11185445.0
...             ...
1349772  11224231.0
1349779  27235665.0
1349785   7204432.0
1349786  23224762.0
1349791   6204791.0

[24868 rows x 90 columns]

In [ ]:
SINASC['Chave'] = SINASC.apply(lambda row: row['CODMUNNASC']+ row['DTNASC'] + row['SEXO']+ row['RACACOR'] +row['GRAVIDEZ'] + row['SEMAGESTAC'] + row['GESTACAO']+row['PARTO'] +row['PESO'] + row['IDADEMAE'], axis =1)
SINASC = SINASC.dropna(subset=['Chave'])
print(SINASC)

         ORIGEM   CODESTAB  CODMUNNASC  LOCNASC  IDADEMAE  ESTCIVMAE  ESCMAE  \
71            1  2001020.0      120005        2      19.0        1.0     4.0
163           1  2001500.0      120010        1      42.0        5.0     NaN
254           1  2001500.0      120010        1      19.0        5.0     4.0
295           1  2001500.0      120010        1      23.0        5.0     4.0
460           1  2001500.0      120010        1      28.0        2.0     5.0
...         ...        ...         ...      ...       ...        ...     ...
2944607       1  2452383.0      210530        1      24.0        1.0     4.0
2944649       1  2452383.0      210530        1      27.0        1.0     4.0
2944706       1  2452383.0      210530        1      19.0        1.0     4.0
2944742       1  2452383.0      210530        1      18.0        1.0     4.0
2944743       1  2452383.0      210530        1      18.0        1.0     4.0

         CODOCUPMAE  QTDFILVIVO  QTDFILMORT  ...  DTDECLARAC  ESCMAEAGR1  \
71         999991.0         1.0         0.0  ...         NaN         NaN
163        999992.0         4.0         0.0  ...   4022019.0         NaN
254        612005.0         1.0         1.0  ...  12032019.0        12.0
295             NaN         NaN         NaN  ...  23032019.0        12.0
460        223115.0         NaN         NaN  ...  22052019.0         8.0
...             ...         ...         ...  ...         ...         ...
2944607    622105.0         1.0         0.0  ...  11092018.0         6.0
2944649    999992.0         1.0         0.0  ...  11102018.0         6.0
2944706    999992.0         0.0         0.0  ...  20112018.0         5.0
2944742    999992.0         1.0         0.0  ...  15122018.0         4.0
2944743    999992.0         1.0         0.0  ...  15122018.0         4.0

         STDNEPIDEM  STDNNOVA  CODPAISRES  TPROBSON  PARIDADE  KOTELCHUCK  \
71              0.0         1         1.0        11         1           9
163             0.0         1         1.0        10         1           4
254             0.0         1         1.0        10         1           1
295             0.0         1         1.0        10         0           3
460             0.0         1         1.0        10         0           4
...             ...       ...         ...       ...       ...         ...
2944607         0.0         1         1.0        10         1           2
2944649         0.0         1         1.0        10         1           4
2944706         0.0         1         1.0        10         0           3
2944742         0.0         1         1.0        10         1           3
2944743         0.0         1         1.0         8         1           3

         CONTADOR       Chave
71          13820  20174045.0
163         13912   4145013.0
254         14003  12152835.0
295         14045  23153271.0
460         14210  22145625.0
...           ...         ...
2944607   1707090  11303414.0
2944649   1707833  11313938.0
2944706   1708614  20324156.0
2944742   1709184  15334307.0
2944743   1709185  15334273.0

[87051 rows x 62 columns]